<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container last">
    <h1>{{ contestant_id }}</h1>
    <h2>Desk: {{ desk_id }}</h2>
    <p>{{ contestant_name }}</p>

    <div class="sep"></div>

    <p>Pages: {{ num_pages }}{% if original_num_pages %} (was {{ original_num_pages }}){% endif %}</p>
    <p>Time: {{ time }}</p>
    <p>Print ID: {{ print_id }}</p>

    <div class="location" style="background-image: url('{{ desk_map_img }}')"></div>

    <img class="ioi_logo" src="img/ioi-1.svg">
</div>
</body>
</html>
