<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container last">
    <h1>{{ country_code }}</h1>
    <h2>{{ country_name }}</h2>

    <div class="sep"></div>

    <p>Pages: {{ num_pages }}</p>
    <p>Time: {{ time }}</p>

    <img class="ioi_logo" src="img/ioi-2.svg">
</div>
</body>
</html>
