body, * {
    font-family: 'Source Sans Pro', arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #666;
    font-weight: 300;
    letter-spacing: -.05em;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 1in .8in 0;
    background-color: white;
    font-size: 50px;
}

h1 {
    font-size: 90px;
}

h2 {
    margin: -.25em 0 .1em -.05em;
    font-size: 100px;
    font-weight: 700;
}

p {
    margin: -.2em 0;
}

.location {
    background-color: #e5e5e5;
    border: 1px solid #ccc;
    width: 510px;
    height: 360px;
    margin: 60px 0;
}

.map {
    height: 100%;
}

.sep {
    margin: 40px;
}

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px;
    overflow: hidden;
}

.ioi_logo_first {
    margin: -30px -70px;
    width: 640px;
}

.ioi_logo_request {
    margin: -30px -50px;
    width: 500px;
}

#side_image {
    width: 400px;
}

.notes {
    margin-bottom: 200px;
}

.first {
    margin-top: 150px;
}

.last {
    margin-top: 470px;
}

.request {
    margin-top: -50px;
}

.small-height {
    line-height: 85%;
}

.text {
    margin-top: 70px;
    max-width: 500px;
    font-size: 40px;
}

.text p {
    margin: 0;
}