<html>
<head>
    <link rel="stylesheet" href="{{ static_path }}/fonts/fonts.css">
    <link rel="stylesheet" href="{{ static_path }}/style.css">
    <meta charset="UTF-8">
</head>
<body>
<div class="first">
    <h1>{{ contestant_id }}</h1>
    <h2>Desk: {{zone}} {{ desk_id }}</h2>
    <p>{{ contestant_name }}</p>

    <div class="sep"></div>

    <p>Pages: {{ num_pages }}{% if original_num_pages %} (was {{ original_num_pages }}){% endif %}</p>
    <p>Time: {{ time }}</p>
    <p>Print ID: {{ print_id }}</p>

    <div class="location">
        <img class="map" src="{{ desk_map_img }}">
    </div>

    <img class="ioi_logo_first" src="{{ static_path }}/ioi-1.svg">
</div>
</body>
</html>
