<html>
<head>
    <link rel="stylesheet" href="{{ static_path }}/fonts.css">
    <link rel="stylesheet" href="{{ static_path }}/style.css">
    <meta charset="UTF-8">
</head>
<body>
<div class="container last">
    <h1>{{ contestant_id }}</h1>
    <h2>Desk: {{ desk_id }}</h2>
    <p>{{ contestant_name }}</p>

    <div class="sep"></div>

    <p>Request type: {{ request_message }}</p>
    <p>Time: {{ time }}</p>

    <div class="location">
        <img class="map" src="{{ desk_map_img }}">
    </div>

    <p class="notes">Notes:</p>

    <img class="ioi_logo" src="{{ static_path }}/ioi-1.svg">
</div>
</body>
</html>
