<html>
<head>
    <link rel="stylesheet" href="{{ static_path }}/fonts/fonts.css">
    <link rel="stylesheet" href="{{ static_path }}/style.css">
    <meta charset="UTF-8">
</head>
<body>
<div class="trans">
    <h1>{{ country_code }}</h1>
    <h2>{{ country_name }}</h2>

    <div class="sep"></div>

    <p>Pages: {{ num_pages }}</p>
    <p>Time: {{ time }}</p>

    <img class="ioi_logo_trans" src="{{ static_path }}/ioi-2.svg">
</div>
</body>
</html>
